<section class="relative">
	<figure class="w-full">
		<img
			src="images/image-65.png"
			alt=""
			class="w-full h-[800px] object-cover"
		/>
	</figure>

	<div
		class="absolute w-full h-full top-56 lg:top-64 mx-auto flex flex-col items-center justify-center px-8"
	>
		<h1
			class="text-black text-center font-bold xs:text-[2.4rem] sm:text-[3.2rem]"
		>
			Descubre nuestra exquisita colección
		</h1>

		<p
			class="text-center text-base sm:text-lg text-black font-medium mb-4 mt-2 sm:w-4/5 sm:max-w-[900px]"
		>
			Sumérgete en el mundo del lujo y la elegancia con nuestra deslumbrante
			colección de joyería en oro laminado. Nuestra joyería no es solo un
			accesorio, es una declaración de estilo y un reflejo de tu personalidad
			única.
		</p>

		<a href="https://wa.link/y398oh" target="_blank">
			<button
				class="bg-black text-white shadow-lg font-semibold px-20 py-4 rounded-md hover:bg-slate-400 transition ease-in-out hover:opacity-90"
			>
				Explorar más
			</button>
		</a>
	</div>
</section>
