---
import CheckMark from "../icons/check-mark.astro";
---

<section>
	<h3 class="font-bold text-center text-black mb-4">Nuestros materiales</h3>

	<figure class="w-full grid grid-cols-1 sm:grid-cols-2 gap-x-8 relative">
		<figcaption class="flex flex-col gap-3 text-lg">
			<p class="text-justify md:text-left">
				Descubre la elegancia y sofisticación del oro laminado. Este material,
				utilizado en joyería de alta calidad, combina la belleza del oro con la
				durabilidad de metales de base. A través de un meticuloso proceso de
				soldadura y presión, se aplican varias capas de oro a un metal de menor
				valor, creando una pieza que brilla con el lustre del oro puro. La
				durabilidad del oro laminado es de 1 año en prendas referenciadas y de 5
				a 10 años en balineria
			</p>

			<ul
				class="[&>li]:flex [&>li]:items-center [&>li]:gap-4 [&>svg]:w-[20px] flex flex-col gap-4 pb-3"
			>
				<li>
					<CheckMark />
					<span
						>Lujo asequible: El oro laminado te ofrece el brillo del oro a un
						precio mucho más accesible.</span
					>
				</li>
				<li>
					<CheckMark />
					<span
						>Durabilidad: Este material es resistente y mantiene su brillo y
						color dorado original durante años.</span
					>
				</li>
				<li>
					<CheckMark />
					<span
						>Diversidad de estilos: Con el oro laminado, tienes una amplia gama
						de diseños y estilos para elegir y personalizar.</span
					>
				</li>
			</ul>
		</figcaption>
		<div class="flex flex-col w-full gap-2">
			<img
				src="images/image-60.jpg"
				alt=""
				class="h-[320px] lg:h-[360px] w-full object-cover rounded-xl"
				loading="lazy"
				decoding="async"
			/>
			<div class="flex-col sm:flex-row sm:flex w-full gap-2">
				<img
					src="images/image-66.jpg"
					alt=""
					class="w-full h-[320px] sm:h-[200px] object-cover rounded-lg mb-2"
					loading="lazy"
					decoding="async"
				/>
				<img
					src="images/image-86.jpg"
					alt=""
					class="w-full h-[320px] sm:h-[200px] object-cover rounded-lg"
					loading="lazy"
					decoding="async"
				/>
			</div>
		</div>
	</figure>
</section>
