<section class="relative">
	<figure class="w-full">
		<img
			src="images/image-59.jpg"
			alt=""
			class="w-full h-screen object-cover"
		/>
	</figure>

	<div
		class="absolute w-full h-full top-0 mx-auto flex flex-col items-center justify-center px-8"
	>
		<h1
			class="text-white font-bold mb-[1.5rem] xs:text-[2.4rem] sm:text-[3.2rem]"
		>
			Collection is here
		</h1>

		<p class="text-center text-[1.5rem] text-white font-medium mb-[1.5rem]">
			The time is now for it ot be okay to be great. People in this world shun
			people for being great. For being a bright color. For standing out
		</p>

		<a href="https://wa.link/y398oh" target="_blank">
			<button
				class="bg-white text-black font-semibold px-20 py-4 rounded-md hover:bg-slate-400 transition ease-in-out hover:opacity-90"
			>
				Explore Collection
			</button>
		</a>
	</div>
</section>
