---
import Card from "../card.astro";
---

<section class="grid place-items-center">
	<h3 class="font-bold text-center mt-8 mb-4">Nuestros productos</h3>

	<div
		class="grid place-items-center gap-4 grid-cols-1 xs:grid-cols-2 lg:grid-cols-4"
	>
		<Card imgUrl="images/image-14.jpg" name="Anillos" />
		<Card imgUrl="images/image-86.jpg" name="Pulseras" />
		<Card imgUrl="images/image-48.jpg" name="Aretas" />
		<Card imgUrl="images/image-49.jpeg" name="Collares" />
	</div>
</section>
