---
import Facebook from "../icons/facebook.astro";
import Instagram from "../icons/instagram.astro";
import Whatsapp from "../icons/whatsapp.astro";
---

<section>
	<h3 class="font-bold text-center text-black mb-4">Contáctanos</h3>

	<p class="text-center mb-8">
		¿Estás listo para elevar tu estilo con joyería de oro laminado? No esperes
		más. Contáctanos ahora para descubrir nuestras piezas únicas y asequibles.
		Nuestro equipo está listo para ayudarte a seleccionar la joyería perfecta
		que se adapte a tu estilo y presupuesto. ¡Estamos emocionados de ayudarte a
		brillar con nuestras joyas de oro laminado!
	</p>

	<div class="flex justify-center gap-6 xs:gap-8 md:gap-10 lg:gap-16 w-full">
		<a
			href="https://instagram.com/orolaminado_joyeria?igshid=OGQ5ZDc2ODk2ZA==
            "
			target="_blank"
		>
			<Instagram />
		</a>

		<a
			href="https://www.facebook.com/profile.php?id=100077112152514&mibextid=LQQJ4d"
			target="_blank"
		>
			<Facebook />
		</a>

		<a href="https://wa.link/y398oh" target="_blank">
			<Whatsapp />
		</a>
	</div>
</section>
