---
import Header from "../components/header.astro";
import Section01 from "../components/sections/section-01.astro";
import Section02 from "../components/sections/section-02.astro";
import Section03 from "../components/sections/section-03.astro";
import Section04 from "../components/sections/section-04.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Milano Joyeria">
	<Header />
	<Section01 />

	<div class="px-8 w-full self-center max-w-[1200px] flex flex-col gap-16 pb-8">
		<Section02 />

		<Section03 />

		<Section04 />
	</div>
	<!-- <Footer /> -->
</Layout>

<style></style>
