<aside
	id="sidebar"
	class="hidden sm:hidden w-64 bg-gray-800 text-white p-6 fixed right-0 top-0 h-full overflow-auto transition-all duration-300 transform translate-x-full"
>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="contact">Contact us</a></li>
		<li><a href="about">About</a></li>
	</ul>
</aside>
