---
interface Props {
	imgUrl: string;
	name: string;
	category: string;
}
const { imgUrl, name, category } = Astro.props;
---

<figure class="relative w-full">
	<img
		src={imgUrl}
		alt="Anillo"
		class="w-full h-[400px] rounded-lg object-cover"
	/>
	<figcaption
		class="absolute bottom-0 text-white flex flex-col items-center pb-4 w-[90%]"
	>
		<p class="font-bold text-3xl xs:text-xl">{name}</p>
		<a href={category} class="font-light pb-6 hover:underline"></a>
	</figcaption>
</figure>
