---
import Menu from "./icons/menu.astro";
---

<header class="flex items-center justify-between px-6 py-4">
	<span class="text-lg font-bold">Milano Joyeria</span>

	<nav>
		<Menu />
		<ul class="hidden sm:flex sm:gap-2">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="contact">Contact us</a>
			</li>
			<li>
				<a href="about">About</a>
			</li>
		</ul>
	</nav>
</header>
