---
import Menu from "./icons/menu.astro";
---

<header class="flex items-center justify-between px-6 py-4 bg-slate-200">
	<span class="text-lg font-bold">Milano Joyeria</span>

	<nav>
		<Menu />
		<ul class="hidden sm:flex sm:gap-4">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/">Contact us</a>
			</li>
			<li>
				<a href="/">About</a>
			</li>
		</ul>
	</nav>
</header>
