---
import { ViewTransitions, fade } from "astro:transitions";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body transition:animate={fade({ duration: "0.2s" })}>
		<Header />
		<main class="flex flex-col w-full h-full">
			<slot />
		</main>
		<Footer />
		<style is:global>
			code {
				font-family:
					Menlo,
					Monaco,
					Lucida Console,
					Liberation Mono,
					DejaVu Sans Mono,
					Bitstream Vera Sans Mono,
					Courier New,
					monospace;
			}

			h1 {
				font-size: calc(1.425rem + 2.1vw);
			}

			h3 {
				font-size: calc(1.3125rem + 0.75vw);
			}

			p {
				line-height: 1.6;
			}

			body {
			}
		</style>
	</body>
</html>
